[lang=fa-IR]{
    direction: rtl!important;
}
[lang=en]{
    direction: ltr!important;
}
@font-face {
    font-family: iranyekan;
    src: url(../fonts/iranyekanwebregular.e31c09af.woff2);
}
body {
    background-color: #fbfbfb;
    font-family: iranyekan, sans-serif;
}
body.dark {
    background: #1a1a1a;
}
.digi-red {
    background: #ef394e;
}
header .search {
    width: 600px;
    height: 44px;
    border-radius: 8px;
    background: #f0f0f1;
}
header .search form span {
    width: 24px;
    color: #81858b;
    background: #f0f0f1;
}
header .search form input {
    border: none;
    position: relative;
}
header .search form input::placeholder {
    font-size: 12px;
    color: #81858b;
    padding: 0 8px;
    position: absolute;
    top: 23%;
}
.dropdown-menu-end {
    left: 0 !important;
    right: auto !important;
}
@media (min-width: 991.98px) {
  main {
    padding-right: 240px;
  }
    .md-screen-header {
        display: none;
    }
    .lg-screen-header {
        display: block !important;
    }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
    main {
        margin-top: 10px !important;
    }
}
.sidebar .active {
  background: #ef394e !important;
  border-color: #ef394e !important;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.sidebar.dark .active {
  box-shadow: 0 2px 5px 0 rgb(255 255 255 / 20%), 0 2px 10px 0 rgb(255 255 255 / 15%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.toggle-theme label {
    width: 60px;
    height: 34px;
    border-radius: 50px;
    cursor: pointer;
}
.toggle-theme input {
    width: 0;
    height: 0;
}
.toggle-slider {
    border-radius: 50px;
    transition: 0.4s;
}
.toggle-slider:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    border-radius: 50%;
    transition: 0.4s;
}
.toggle-theme input:checked + .toggle-slider {
    background: #fff !important;
}
.toggle-theme input:checked + .toggle-slider:before {
    background: #262626;
    transform: translateX(26px);
}
.toggle-theme input ~ svg {
    color: #262626 !important;
    z-index: 1;
}
.toggle-theme input:checked ~ svg {
    color: #fff !important;
}
.dark {
    transition: 0.5s;
}
nav.dark {
    background: #1a1a1a !important;
}
nav#main-navbar.dark {
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 20%);
}
.navbar-light.dark .nav-link , .navbar-light.dark .navbar-toggler {
    color: #fff;
}
nav#sidebarMenu.dark {
    box-shadow: 0 2px 5px 0 rgb(255, 255, 255, 20%), 0 2px 10px 0 rgb(255, 255, 255, 15%);
}
nav#sidebarMenu .list-group-item.dark {
    background: #1a1a1a;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.125);
}
#sidebarMenu .side-dropdown-btn.active + div {
    display: block !important;
}
.card.dark {
    background: #36383C;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgb(255, 255, 255, 20%);
}
.card.dark .card-header {
    border-color: rgba(255, 255, 255, 0.125);
}
.card.dark .separator {
    border-color: #fff !important;
}
.card.dark .separator p {
    background: #36383C !important;
}
.dropzone {
    border: 4px #ef394e dashed;
}
[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}
.form-btn {
    background: #ef394e;
    width: 15%;
    /*cursor: pointer;*/
    /*color: #fff;*/
    /*border: none;*/
    /*box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 20%), 0 2px 10px 0 rgb(0, 0, 0, 10%);*/
    /*padding: 0.5rem 1.5rem 0.5rem;*/
    /*font-size: 0.75rem;*/
    /*line-height: 1.5rem;*/
    /*border-radius: 0.25rem;*/
    /*margin-left: 2rem;*/
    /*transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;*/
}
/*.form-btn::-webkit-file-upload-button:hover {*/
/*    box-shadow: 0 4px 10px 0 rgb(0, 0, 0,20%), 0 4px 20px 0 rgb(0, 0, 0, 10%);*/
/*}*/

.input-form {
    display: flex;
    align-items: center;
}
.input-form input {
    display: none;
    transition: 2s;
}
.input-form input.active-field {
    display: block;
    width: 80%;
    border: none;
    outline: none;
    border-right: 5px #ef394e solid;
    padding: 8px 16px;
    direction: ltr;
    background: rgba(239, 57, 78, 0.5);
}
.card.dark .input-form input.active-field {
    background: #fff;
}
.input-form-label {
    width: 100%;
    transition: 2s;
}
.input-form-label.active-field {
    width: 20%;
}

/*.input-form label:hover {*/
/*    color: #ef394e;*/
/*    text-align: right;*/
/*    width: 20%;*/
/*}*/
/*.input-form label:hover + input {*/
/*    display: block;*/
/*    width: 80%;*/
/*}*/
